<router-outlet></router-outlet>
<div class="main">
  <div class="_container">
    <div class="card-section">
      <mat-card *ngFor="let user of cards" class="_card" (click)="getCardDetail(user)">
        <mat-card-header>
        <h2>Name: {{user.firstName}} {{user.lastName}}</h2>
        </mat-card-header>
        <div class="_photo">
          <img src="{{user.imgPath}}" />
        </div>
      </mat-card>
    </div>
    <div class="search-section">
      <div class="_search">
        <input matInput type="text" name="searchString" [(ngModel)]="searchString" placeholder="Search with id or name"/>
        <button (click)="getCards()">Search</button>
      </div>
    </div>
    
  </div>
</div>

